body{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: space-between; */
    font-family: 'Roboto', sans-serif;
    margin:0px 100px;
    background-color: bisque;
}

.gridContainer{
    display: grid;
    /* grid-template-columns: auto auto ;
    grid-template-rows: auto auto ; */
    /* gap: 10px; */
    background-color: #2196F3;
    /* padding: 10px; */
    width: 960px;
    height: 960px;

}

/* .ps{
    display: flex;
    flex-direction: row;

} */



/* .ps:hover{
    background-color: darkred;
    transition: background-color 5s;
    
} */